<!doctype html>
<html lang="en" class="h-100">
{% include 'head.html.twig' %}
<body class="d-flex h-100" style="justify-content: center; align-items: center">
<h1 class="display-4">{{ statusCode }}, {{ message }}</h1>
</body>
</html>