<nav class="navbar navbar-light">
    <div class="container-fluid">
        <div class="d-flex" style="align-items: center">
            <a class="navbar-brand d-flex" style="align-items: center" href="/ModifyChat/home">
                <h1 class="display-5">
                    Chat
                </h1>
                <img src="static/logo.png"
                     alt="logoIcon"
                     style="height: calc(1.425rem + 2.8vw);
                     max-height: 60px;
                     max-width: 60px;
                     width: calc(1.425rem + 3.2vw);"
                >
            </a>
            <ul class="navbar-nav" style="flex-direction: row;">
                <li class="nav-item">
                    <a class="nav-link {% if currentLink == 'home'%}{{ "active" }}{% endif %}" aria-current="page" href="/ModifyChat/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if login is empty %}{{ "disabled" }}{% endif %} {% if currentLink == 'profile'%}{{ "active" }}{% endif %}" href="/ModifyChat/profile">Profile</a>
                </li>
            </ul>
        </div>
        {% if login is empty %}
            <div class="d-flex">
                <button type="button" class="btn btn-success me-2" data-bs-toggle="modal" data-bs-target="#logInModal">
                    Log in
                </button>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#signUpModal">
                    Sign up
                </button>
            </div>
        {% else %}
            <a href="/ModifyChat/home?logout=1" type="submit" class="btn btn-danger">Log out</a>
        {% endif %}
    </div>
</nav>
<style>
    ul > li {
        margin-right: 5px
    }
</style>